In [ ]:
## creating heatmaps of specific diseases

In [3]:
import seaborn as sns
import numpy as np
import pandas as pd
from pprint import pprint
from sqlalchemy import create_engine
import datashader as ds
import matplotlib.pyplot as plt
from colorcet import fire, blues
from datashader.utils import export_image
from datashader import transfer_functions as tf

In [4]:
POSTGRES_USERNAME = "sahil"
POSTGRES_PASSWORD = "zxcvbnm"
POSTGRES_DBNAME = "postgres"
POSTGRES_DB_ADDRESS = "localhost"

url = 'postgresql://{}:{}@{}:{}/{}'.format(POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_DB_ADDRESS, 5432, POSTGRES_DBNAME)
engine = create_engine(url)

In [5]:
def remove_whitespace(x):
    """
    Helper function to remove any blank space from a string
    x: a string
    """
    try:
        # Remove spaces inside of the string
        x = "".join(x.split())

    except:
        pass
    return x

In [6]:
def create_image(merged_df, 
                 x_coord='x', 
                 y_coord='y',
                 save_name = None):
    
    canvas = ds.Canvas(640, 640)
    agg = canvas.points(merged_df,'x','y')
    raster_image = tf.shade(agg, cmap=fire)
    
    # uncommend the line below to have more coarse apperance
    image = tf.set_background(tf.dynspread(raster_image), "black")
    
    
    if(save_name is not None):
        export_image(image, save_name)
        
    return image

In [7]:
#select pdpi of 2016-2017
pdpi_tables = pd.read_sql_query("select tablename from pg_tables where tablename ~* 'pdpi_(2016|2017).*' order by tablename asc;"
                  , con=engine)

pdpi_tables.head()

     tablename
0  pdpi_201601
1  pdpi_201602
2  pdpi_201603
3  pdpi_201604
4  pdpi_201605

In [9]:
addr_index_table = pd.read_sql_table(table_name="addr_index", con = engine)
addr_index_table.postcode = addr_index_table.postcode.apply(remove_whitespace)
print(addr_index_table.shape)
addr_index_table.head()

(13830, 7)

   index practice postcode   latitude  longitude              x             y
0      0   A81001  TS181HU  54.561625  -1.318986 -146828.849883  7.277247e+06
1      1   A81002  TS182AW  54.569163  -1.313928 -146265.846882  7.278694e+06
2      2   A81003  TS268DB  54.685239  -1.217599 -135542.500670  7.301016e+06
3      3   A81004   TS13BE  54.571809  -1.232274 -137176.153683  7.279203e+06
4      4   A81005  TS147DJ  54.532605  -1.055428 -117489.720853  7.271678e+06

In [10]:
import time

In [12]:
%%time

# select practice for  chapter 03 - respiratory dieseaes

for t in pdpi_tables.tablename:
    print(t)

    # query the database
    query = "select practice, period from " + str(t) + " where chapter  like '03'";  
    
    # time the query
    start_time = time.time()
    df = pd.read_sql_query(query, con=engine)
    end_time = time.time()
    print("Query took ", start_time-end_time)
    
    
    
    # find the locations of the practices
    start_time = time.time()
    merged_df = pd.merge(df, addr_index_table, on="practice", how="left")
    end_time = time.time()
    print("Merging took ", start_time-end_time)
    
    print("Percentage of missing ", (merged_df['x'].isnull().sum() * 100) / (df.shape[0]))
    
    # create heatamp
    create_image(merged_df, 'x', 'y', str(t))
    
#     del df
#     del merged_df

pdpi_201601
Query took  -15.403339385986328
  practice  period  index postcode   latitude  longitude              x  \
0   N81002  201601   6286   SK91PA  53.323034  -2.235179 -248819.023524
1   N81002  201601   6286   SK91PA  53.323034  -2.235179 -248819.023524

              y
0  7.042976e+06
1  7.042976e+06
Merging took  -0.5476455688476562
Percentage of missing  1.7672266135478387
pdpi_201602
Query took  -17.42759871482849
  practice  period  index postcode   latitude  longitude              x  \
0   P81707  201602   6859   BB11LX  53.746498  -2.464808 -274381.132167
1   P81707  201602   6859   BB11LX  53.746498  -2.464808 -274381.132167

              y
0  7.122291e+06
1  7.122291e+06
Merging took  -0.11299777030944824
Percentage of missing  1.7468366910444604
pdpi_201603
Query took  -14.959887027740479
  practice  period  index postcode  latitude  longitude   x   y
0   Y00327  201603   8630   CH21HJ       NaN        NaN NaN NaN
1   Y00327  201603   8630   CH21HJ       NaN        NaN NaN NaN
Merging took  -0.11525940895080566
Percentage of missing  1.7535849593540427
pdpi_201604
Query took  -14.861889362335205
  practice  period  index postcode   latitude  longitude              x  \
0   Y04937  201604  12878   WN34NW  53.534921  -2.614585 -291054.306245
1   Y00327  201604   8630   CH21HJ        NaN        NaN            NaN

              y
0  7.082563e+06
1           NaN
Merging took  -0.11909937858581543
Percentage of missing  1.75065050601825
pdpi_201605
Query took  -17.036349773406982
  practice  period  index postcode  latitude  longitude   x   y
0   Y00327  201605   8630   CH21HJ       NaN        NaN NaN NaN
1   Y00327  201605   8630   CH21HJ       NaN        NaN NaN NaN
Merging took  -0.12001824378967285
Percentage of missing  1.7582284061294207
pdpi_201606
Query took  -14.776690483093262
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201606  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y00327  201606   8630   CH21HJ        NaN        NaN            NaN

              y
0  7.064518e+06
1           NaN
Merging took  -0.12795042991638184
Percentage of missing  1.738667421761505
pdpi_201607
Query took  -14.57051157951355
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201607  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y00327  201607   8630   CH21HJ        NaN        NaN            NaN

              y
0  7.064518e+06
1           NaN
Merging took  -0.11127877235412598
Percentage of missing  1.713295370141124
pdpi_201608
Query took  -15.795086145401001
  practice  period  index postcode   latitude  longitude              x  \
0   Y05218  201608  13120  SK103BL  53.262257  -2.141074 -238343.267431
1   Y05294  201608  13326   WA93DE  53.438469  -2.721367 -302941.240084

              y
0  7.031656e+06
1  7.064518e+06
Merging took  -0.10896658897399902
Percentage of missing  1.7358734564493998
pdpi_201609
Query took  -18.404826879501343
  practice  period  index postcode  latitude  longitude   x   y
0   Y00327  201609   8630   CH21HJ       NaN        NaN NaN NaN
1   Y00327  201609   8630   CH21HJ       NaN        NaN NaN NaN
Merging took  -0.11746025085449219
Percentage of missing  1.724762901738981
pdpi_201610
Query took  -14.617762804031372
  practice  period  index postcode  latitude  longitude   x   y
0   Y00327  201610   8630   CH21HJ       NaN        NaN NaN NaN
1   Y00327  201610   8630   CH21HJ       NaN        NaN NaN NaN
Merging took  -0.11943531036376953
Percentage of missing  1.7081276498259863
pdpi_201611
Query took  -14.849087476730347
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201611  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y00327  201611   8630   CH21HJ        NaN        NaN            NaN

              y
0  7.064518e+06
1           NaN
Merging took  -0.11618399620056152
Percentage of missing  1.7284543897315858
pdpi_201612
Query took  -15.340962886810303
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201612  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y00327  201612   8630   CH21HJ        NaN        NaN            NaN

              y
0  7.064518e+06
1           NaN
Merging took  -0.14358067512512207
Percentage of missing  1.732655435470694
pdpi_201701
Query took  -16.016919136047363
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201701  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y05420  201701  13490   L355DR  53.420469  -2.784954 -310019.661163

              y
0  7.064518e+06
1  7.061155e+06
Merging took  -0.13440513610839844
Percentage of missing  1.7288965832341323
pdpi_201702
Query took  -14.363532066345215
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201702  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y05420  201702  13490   L355DR  53.420469  -2.784954 -310019.661163

              y
0  7.064518e+06
1  7.061155e+06
Merging took  -0.1181938648223877
Percentage of missing  1.7220568888661822
pdpi_201703
Query took  -16.31161642074585
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201703  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y05294  201703  13326   WA93DE  53.438469  -2.721367 -302941.240084

              y
0  7.064518e+06
1  7.064518e+06
Merging took  -0.13486862182617188
Percentage of missing  1.730646183424616
pdpi_201704
Query took  -16.26659083366394
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201704  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y00327  201704   8630   CH21HJ        NaN        NaN            NaN

              y
0  7.064518e+06
1           NaN
Merging took  -0.11511015892028809
Percentage of missing  1.7284154027001937
pdpi_201705
Query took  -17.899300575256348
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201705  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y05294  201705  13326   WA93DE  53.438469  -2.721367 -302941.240084

              y
0  7.064518e+06
1  7.064518e+06
Merging took  -0.1616344451904297
Percentage of missing  1.7281098884831738
pdpi_201706
Query took  -15.618841409683228
  practice  period  index postcode   latitude  longitude              x  \
0   Y05294  201706  13326   WA93DE  53.438469  -2.721367 -302941.240084
1   Y05420  201706  13490   L355DR  53.420469  -2.784954 -310019.661163

              y
0  7.064518e+06
1  7.061155e+06
Merging took  -0.11599230766296387
Percentage of missing  1.735271802024816
CPU times: user 15.7 s, sys: 2.14 s, total: 17.9 s
Wall time: 4min 49s

In [16]:
###
### Creating timelapse
###


import imageio
import glob
images = []
filenames = glob.glob("./pdpi_*.png") 
print(filenames)
for filename in filenames:
    images.append(imageio.imread(filename))
imageio.mimsave('heatmap_timelapse.gif', images)

['./pdpi_201602.png', './pdpi_201701.png', './pdpi_201603.png', './pdpi_201611.png', './pdpi_201608.png', './pdpi_201705.png', './pdpi_201703.png', './pdpi_201706.png', './pdpi_201607.png', './pdpi_201612.png', './pdpi_201702.png', './pdpi_201609.png', './pdpi_201605.png', './pdpi_201704.png', './pdpi_201606.png', './pdpi_201610.png', './pdpi_201601.png', './pdpi_201604.png']

In [17]:
from IPython.display import HTML
HTML('<img src="heatmap_timelapse.gif">')